    @font-face {
        font-family: 'Founders';
        font-style: normal;
        src: local(''),
            /* Super Modern Browsers */ url('..static/fonts/founders-grotesk-light.woff') format('woff'),
    }

