@import '@fontsource/fira-mono';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

	@font-face {
		font-family: 'FieldNotes';
		src: url('/fonts/futura w01 medium.woff') format('woff');
		font-style: normal;
		font-weight: 500;
		font-stretch: normal;
		font-display: swap;
		text-rendering: optimizeSpeed;
	  }
	@font-face {
		font-family: 'FieldNotes';
		src: url('/fonts/futura w01 bold.woff2') format('woff2');
		font-style: normal;
		font-weight: 700;
		font-stretch: normal;
		font-display: swap;
		text-rendering: optimizeSpeed;
	  }
	@font-face {
		font-family: 'FieldNotes';
		src: url('/fonts/futura w01 heavy.woff2') format('woff2');
		font-style: normal;
		font-weight: 900;
		font-stretch: normal;
		font-display: swap;
		text-rendering: optimizeSpeed;
	  }

	@font-face {
		font-family: 'FieldNotes';
		src: url('/fonts/newcenturyschoolw01-rg.woff2') format('woff2');
		font-style: normal;
		font-weight: 400;
		font-stretch: normal;
		font-display: swap;
		text-rendering: optimizeSpeed;
	  }
	@font-face {
		font-family: 'FieldNotes';
		src: url('/fonts/newcenturyschoolw01-it.woff2') format('woff2');
		font-style: italic;
		font-weight: 400;
		font-stretch: normal;
		font-display: swap;
		text-rendering: optimizeSpeed;
	  }
	
	@font-face {
		font-family: 'Respira';
		src: url('/fonts/Respira-Black.woff') format('woff');
		font-style: normal;
		font-stretch: normal;
		font-display: swap;
		text-rendering: optimizeSpeed;
	  }

	@font-face {
		font-family: 'Serif';
		src: url('/fonts/SuisseWorks-Regular-WebXL.woff2') format('woff2');
		font-style: normal;
		font-weight: 400;
		font-stretch: normal;
		font-display: swap;
		text-rendering: optimizeSpeed;
	  }

	@font-face {
		font-family: 'Serif';
		src: url('/fonts/SuisseIntl-SemiBold-WebXL.woff2') format('woff2');
		font-style: normal;
		font-weight: 700;
		font-stretch: normal;
		font-display: swap;
		text-rendering: optimizeSpeed;
	  }

	@font-face {
		font-family: 'Serif';
		src: url('/fonts/SuisseWorks-RegularItalic-WebXL.woff2') format('woff2');
		font-style: italic;
		font-weight: 400;
		font-stretch: normal;
		font-display: swap;
		text-rendering: optimizeSpeed;
	  }

	@font-face {
		font-family: 'Sans';
		src: url('/fonts/SuisseIntl-Regular-WebXL.woff2') format('woff2');
		font-style: normal;
		font-weight: 400;
		font-stretch: normal;
		font-display: swap;
		text-rendering: optimizeSpeed;
	  }

	@font-face {
		font-family: 'Sans';
		src: url('/fonts/SuisseIntl-SemiBold-WebXL.woff2') format('woff2');
		font-style: normal;
		font-weight: 700;
		font-stretch: normal;
		font-display: swap;
		text-rendering: optimizeSpeed;
	  }

	@font-face {
		font-family: 'Display';
		src: url('/fonts/display.woff') format('woff');
		font-style: normal;
		font-weight: 400;
		font-stretch: normal;
		font-display: swap;
		text-rendering: optimizeSpeed;
	  }
	
	@font-face {
		font-family: 'Supreme';
		src: url('/fonts/SupremeLLWeb-Regular.woff') format('woff');
		font-style: normal;
		font-weight: 400;
		font-stretch: normal;
		font-display: swap;
		text-rendering: optimizeSpeed;
	  }

	@font-face {
		font-family: 'Supreme';
		src: url('/fonts/SupremeLLWeb-Medium.woff') format('woff');
		font-style: normal;
		font-weight: 500;
		font-stretch: normal;
		font-display: swap;
		text-rendering: optimizeSpeed;
	  }

	@font-face {
		font-family: 'Supreme';
		src: url('/fonts/SupremeLLWeb-Black.woff') format('woff');
		font-style: normal;
		font-weight: 700;
		font-stretch: normal;
		font-display: swap;
		text-rendering: optimizeSpeed;
	  }
	
	@font-face {
		font-family: 'Graphik';
		src: url('/fonts/Graphik-Regular-Web.woff') format('woff');
		font-style: normal;
		font-weight: 400;
		font-stretch: normal;
		font-display: swap;
		text-rendering: optimizeSpeed;
	  }
	  
	  @font-face {
		font-family: 'Graphik';
		src: url('/fonts/Graphik-RegularItalic-Web.ttf') format('opentype');
		font-style: italic;
		font-weight: 400;
		font-stretch: normal;
		font-display: swap;
		text-rendering: optimizeSpeed;
	  }
	  
	  @font-face {
		font-family: 'Graphik';
		src: url('/fonts/Graphik-Medium-Web.woff') format('woff');
		font-style: normal;
		font-weight: 500;
		font-stretch: normal;
		font-display: swap;
		text-rendering: optimizeSpeed;
	  }
	  
	  @font-face {
		font-family: 'Graphik';
		src: url('/fonts/Graphik-MediumItalic-Web.ttf') format('opentype');
		font-style: italic;
		font-weight: 500;
		font-stretch: normal;
		font-display: swap;
		text-rendering: optimizeSpeed;
	  }
	  
	  @font-face {
		font-family: 'Graphik';
		src: url('/fonts/Graphik-Semibold-Web.woff') format('woff');
		font-style: normal;
		font-weight: 600;
		font-stretch: normal;
		font-display: swap;
		text-rendering: optimizeSpeed;
	  }
	  
	  @font-face {
		font-family: 'Graphik';
		src: url('/fonts/Graphik-SemiboldItalic-Web.woff') format('woff');
		font-style: italic;
		font-weight: 600;
		font-stretch: normal;
		font-display: swap;
		text-rendering: optimizeSpeed;
	  }
	  @font-face {
		font-family: 'Graphik';
		src: url('/fonts/Grenette-Regular-Web.woff') format('woff');
		font-style: normal;
		font-weight: 700;
		font-stretch: normal;
		font-display: swap;
		text-rendering: optimizeSpeed;
	  }
	  
	  @font-face {
		font-family: 'Graphik';
		src: url('/fonts/Grenette-Regular-Web.woff') format('woff');
		font-style: normal;
		font-weight: 700;
		font-stretch: normal;
		font-display: swap;
		text-rendering: optimizeSpeed;
	  }

	
	@font-face {
		font-family: 'Calibre';
		src: url('/fonts/CalibreWeb-Thin.woff') format('woff');
		font-style: normal;
		font-weight: 100;
		font-stretch: normal;
		font-display: swap;
		text-rendering: optimizeSpeed;
	  }

	@font-face {
		font-family: 'Calibre';
		src: url('/fonts/CalibreWeb-Light.woff') format('woff');
		font-style: normal;
		font-weight: 300;
		font-stretch: normal;
		font-display: swap;
		text-rendering: optimizeSpeed;
	  }

	@font-face {
		font-family: 'Calibre';
		src: url('/fonts/CalibreWeb-Regular.woff') format('woff');
		font-style: normal;
		font-weight: 400;
		font-stretch: normal;
		font-display: swap;
		text-rendering: optimizeSpeed;
	  }

	@font-face {
		font-family: 'Calibre';
		src: url('/fonts/CalibreWeb-Medium.woff') format('woff');
		font-style: normal;
		font-weight: 500;
		font-stretch: normal;
		font-display: swap;
		text-rendering: optimizeSpeed;
	  }
	@font-face {
		font-family: 'Calibre';
		src: url('/fonts/CalibreWeb-Semibold.woff') format('woff');
		font-style: normal;
		font-weight: 700;
		font-stretch: normal;
		font-display: swap;
		text-rendering: optimizeSpeed;
	  }

	@font-face {
		font-family: 'Founders';
		src: url('/fonts/FoundersGroteskMonoWeb-Regular.woff') format('woff');
		font-style: normal;
		font-stretch: normal;
		font-display: swap;
		text-rendering: optimizeSpeed;
	  }

	
	@font-face {
	    font-family: 'Ginto';
	    font-style: normal;
	    font-weight: 400; 
	    src:  url('/fonts/GintoNormal-Light.woff2') format('woff2');
	    font-display: swap;
	}
	@font-face {
	    font-family: 'Ginto';
	    font-style: normal;
	    font-weight: 700; 
	    src:  url('/fonts/GintoNormal-Medium.woff2') format('woff2');
	    font-display: swap;
	}
	@font-face {
	    font-family: 'GT';
	    font-style: normal; 
	    src:  url('/fonts/GT-Alpina-Standard-Light.woff2') format('woff2');
	    font-display: swap;
	}
	@font-face {
	    font-family: 'GT';
	    font-style: normal; 
	    font-weight: 700; 
	    src:  url('/fonts/Roobert-SemiBold.woff2') format('woff2');
	    font-display: swap;
	}
	@font-face {
	    font-family: 'GT';
	    font-style: italic;
	    src:  url('/fonts/GT-Alpina-Standard-Light-Italic.woff2') format('woff2');
	    font-display: swap;
	}
	
	@font-face {
	    font-family: 'Reckless';
	    font-style: normal; 
	    src:  url('/fonts/Reckless-Regular.woff2') format('woff2');
	    font-display: swap;
	}
	@font-face {
	    font-family: 'Reckless';
	    font-style: normal; 
	    font-weight: 700; 
	    src:  url('/fonts/Roobert-SemiBold.woff2') format('woff2');
	    font-display: swap;
	}
	@font-face {
	    font-family: 'Reckless';
	    font-style: italic;
	    src:  url('/fonts/Reckless-RegularItalic.woff2') format('woff2');
	    font-display: swap;
	}
@font-face {
	    font-family: 'Soehne';
	    font-style: normal; 
	    font-weight: 400; 
	    src:  url('/fonts/soehne-web-buch.woff') format('woff');
	    font-display: swap;
	}

@font-face {
	    font-family: 'Soehne';
	    font-style: normal; 
	    font-weight: 700; 
	    src:  url('/fonts/soehne-web-halbfett.woff') format('woff');
	    font-display: swap;
	}

@font-face {
	    font-family: 'Soehne';
	    font-style: italic; 
	    font-weight: 400; 
	    src:  url('/fonts/soehne-web-buch-kursiv.woff') format('woff');
	    font-display: swap;
	}

@font-face {
	    font-family: 'Soehne';
	    font-style: italic; 
	    font-weight: 700; 
	    src:  url('/fonts/soehne-web-halbfett-kursiv.woff') format('woff');
	    font-display: swap;
	}
}


:root {
	--font-body: 'Soehne', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Soehne', monospace;
	font-family: var(--font-body);
	--size-step--1: clamp(0.83rem, calc(0.82rem + 0.08vw), 0.88rem);
    --size-step-0: clamp(1rem,0.92rem + 0.39vw,1rem);
    --size-step-1: clamp(1.1875rem,1.05rem + 0.68vw,1.625rem);
    --size-step-2: clamp(1.4375rem,1.11rem + 1.65vw,2.5rem);
    --size-step-3: clamp(1.75rem,1.19rem + 2.82vw,3.5625rem);
    --size-step-4: clamp(2.0625rem,1.15rem + 4.56vw,5rem);
    --size-step-5: clamp(2.5rem,1.08rem + 7.09vw,7.0625rem);
    --size-step-6: clamp(3rem,0.84rem + 10.78vw,9.9375rem);
    --space-xs: clamp(0.75rem,0.69rem + 0.29vw,0.9375rem);
    --space-s: clamp(1rem,0.92rem + 0.39vw,1.25rem);
    --space-m: clamp(1.5rem,1.38rem + 0.58vw,1.875rem);
    --space-l: clamp(2rem,1.84rem + 0.78vw,2.5rem);
    --space-xl: clamp(3rem,2.77rem + 1.17vw,3.75rem);
    --space-2xl: clamp(4rem,3.69rem + 1.55vw,5rem);
    --space-3xl: clamp(6rem,5.53rem + 2.33vw,7.5rem);
    --space-xs-s: clamp(0.75rem,0.59rem + 0.78vw,1.25rem);
    --space-s-m: clamp(1rem,0.73rem + 1.36vw,1.875rem);
    --space-m-l: clamp(1.5rem,1.19rem + 1.55vw,2.5rem);
    --space-l-xl: clamp(2rem,1.46rem + 2.72vw,3.75rem);
    --space-l-2xl: clamp(2rem,1.07rem + 4.66vw,5rem);
    --space-xl-2xl: clamp(3rem,2.38rem + 3.11vw,5rem);
    --space-2xl-3xl: clamp(4rem,2.91rem + 5.44vw,7.5rem);
}

body {
	min-height: 100vh;
	margin: 0;

	/* 
		CUSTOM SCROLLBARS! 
		- https://css-tricks.com/strut-your-stuff-with-a-custom-scrollbar/
		*/
	/* --scrollbar-primary-color: #3730a3; */
	--scrollbar-primary-color: #facc15;
	--text-color: #ef4444;
	overflow: scroll; /* https://maxschmitt.me/posts/react-prevent-layout-shift-body-scrollable/ */
}
/* .dark body {
    --scrollbar-primary-color: #8db2e5;
  } */
/* body::-webkit-scrollbar-track {
    background-color: var(--bg-color);
  } */
body::-webkit-scrollbar {
	width: 0.5rem;
}
body::-webkit-scrollbar-thumb {
	background: linear-gradient(var(--scrollbar-primary-color), var(--text-color));
	border-radius: 4px;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
}


@layer components {
	body {
		--brand-accent: #facc15;
		/* https://ishadeed.com/article/defensive-css */
		overflow-wrap: break-word;
		overflow-y: auto;
		scrollbar-gutter: stable;
	}
	/* .dark > body {
    --brand-accent: #a16207;
  } */
	:root {
		accent-color: var(--brand-accent);
	}
	:focus-visible {
		outline-color: var(--brand-accent);
	}
	::selection {
		background-color: var(--brand-accent);
	}
	.dark ::selection {
		color: #1d1d1d;
	}
	::marker {
		color: var(--brand-accent);
	}

	:is(::-webkit-calendar-picker-indicator, ::-webkit-clear-button, ::-webkit-inner-spin-button, ::-webkit-outer-spin-button) {
		color: var(--brand-accent);
	}

	/* https://css-tricks.com/two-issues-styling-the-details-element-and-how-to-solve-them/ */
	details {
		border: 2px solid var(--brand-accent);
		padding: 0.5rem 1rem;
	}
	details > summary {
		cursor: pointer;
	}

	details > summary > *:first-child {
		display: inline;
	}

	img {
		/* https://ishadeed.com/article/defensive-css */
		max-width: 100%;
		object-fit: cover;
		background-color: grey;
	}
}
/* bg-yellow-200 dark:hover:bg-yellow-800 */
a {
	@apply text-yellow-700 hover:text-yellow-700 hover:underline dark:text-yellow-400 dark:hover:text-yellow-200;
}

/* for the super long github links i drop */
article.prose a {
	word-break: break-word;
}
article.prose h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	/* margin-left: 1rem; */
	text-decoration: none !important;
	@apply text-orange-700 dark:text-orange-400;
}
article.prose h2::before {
	content: '## ';
}
article.prose h3::before {
	content: '### ';
}
article.prose h4::before {
	content: '#### ';
}

/* https://seek-oss.github.io/capsize/ */
.capsize::before {
	content: '';
	margin-bottom: -0.098em;
	display: table;
}

.capsize::after {
	content: '';
	margin-top: -0.219em;
	display: table;
}
